.header {
	background-color: rgb(110, 193, 242);
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: white;
	font-size: 24pt;
	text-align: center;
	width: 100%;
	padding: 12px;
	border-bottom: 1px solid rgb(127, 127, 127);
}

.header small {
	font-size: 10pt;
}

.main-content {
	height: calc(100vh - 60px);
}

.sidebar {
	border-right: 1px solid rgb(127, 127, 127);
	height: 100%;
}

.col-md-3.sidebar {
	padding: 0;
}