.welcome {
    margin-top: calc(10vh);
}

.welcome .title {
    font-size: 48pt;
    margin-bottom: 20px;
}

.welcome .welcome-option {
    height: 300px;
    margin-top: 30px;
    padding: 20px 50px;
}

.header {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid black;
}

.header small {
    font-size: 10pt;
}

.header .working-set {
    position: relative;
    border-radius: 2px;
    vertical-align: top;
    width: 600px;
    display: inline-block;
    height: 123px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
}

.header .digest-button {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 3px;
}

.main-content {
    height: calc(100vh - 60px);
}

/* The following styles are working round are inability to directly add
   classes to navlistPanel's sidebar */
.main-content > div, .main-content > div > div {
    height: 100%;
}

ul.nav.nav-pills.nav-stacked {
    margin-left: -15px;
    display: block;
    border-right: 1px solid rgb(127, 127, 127);
    height: 100%;
}

ul.nav.nav-pills.nav-stacked > li.active > a {
    border-radius: 0;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
}

.btn-sq-sm {
    width: 60px !important;
    height: 60px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 20px !important;
    height: 20px !important;
    padding: 2px;
}
