.welcome {
    margin-top: calc(5vh);
}

.welcome .title {
    color: #e31837 !important;
    font-size: 48pt;
    margin-bottom: 20px;
}

.welcome .welcome-option {
    height: 300px;
    margin-top: 30px;
    padding: 20px 50px;
}

.header {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid black;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -moz-box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -webkit-box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.header small {
    font-size: 10pt;
}

.header .working-set {
    position: relative;
    border-radius: 2px;
    vertical-align: top;
    width: 600px;
    display: inline-block;
    height: 123px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
}

.header .digest-button {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 3px;
}

.btn-red,
.btn-red:hover,
.btn-red:active {
    color: #e31837;
    border-color: #e31837;
}

.btn-red.btn-success,
.btn-red.btn-success:hover,
.btn-red.btn-success:active {
    color: white;
    border-color: #b9132c;
}

.btn-red.btn-success {
    background-color: #e31837;
}

.btn-red.btn-success:hover ,
.btn-red.btn-success:active {
    background-color: #b9132c;
}

.main-content {
    height: calc(100vh - 60px);
}

/* The following styles are working round are inability to directly add
   classes to navlistPanel's sidebar */
.main-content > div, .main-content > div > div {
    height: 100%;
}

ul.nav.nav-pills.nav-stacked {
    margin-left: -15px;
    display: block;
    border-right: 1px solid rgb(127, 127, 127);
    border-bottom: 1px solid;
    height: 100%;
    background: #f8f9fa;
}

ul.nav.nav-pills.nav-stacked > li.active > a, ul.nav.nav-pills > li.active > a:focus, ul.nav.nav-pills > li.active > a:hover {
    border-radius: 0;
    background-color: #e31837 !important;
}

a, a:focus, a:hover {
    color: #e31837;
    font-weight: 700;
}

.nav li a.disabled {
    color: rgb(200, 200, 200) !important;
    cursor: not-allowed !important;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
}

.btn-sq-sm {
    width: 60px !important;
    height: 60px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 20px !important;
    height: 20px !important;
    padding: 2px;
}

.modal {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
}

.modal .modal-dialog .modal-content {
    border: 1px solid #e31837;
}

.modal .modal-header .close {
    font-size: 24pt;
}

.modal .modal-header .modal-title {
    color: #e31837;
    font-size: larger;
    font-weight: bold;
}

.modal.busy-indicator > div > div {
    width: 400px;
    height: 180px;
    text-align: center;
}