.welcome {
    margin-top: calc(10vh);
}

.welcome .title {
    font-size: 48pt;
    margin-bottom: 20px;
}

.welcome .welcome-option {
    height: 300px;
    margin-top: 30px;
    padding: 20px 50px;
}

.header {
    width: 100%;
    height: 80px;
    padding: 12px;
    border-bottom: 1px solid black;
}

.header small {
    font-size: 10pt;
}

.header .info {
    display: inline-block;
    margin-right: 25px;
}

.header .digest-button {
    display: inline-block;
    margin-left: 20px;
}

.main-content {
    height: calc(100vh - 60px);
}

/* The following styles are working round are inability to directly add
   classes to navlistPanel's sidebar */
.main-content > div, .main-content > div > div {
    height: 100%;
}

ul.nav.nav-pills.nav-stacked {
    margin-left: -15px;
    display: block;
    border-right: 1px solid rgb(127, 127, 127);
    height: 100%;
}

ul.nav.nav-pills.nav-stacked > li.active > a {
    border-radius: 0;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding:2px;
}
